/* Fonts */

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root {
  --basic-white: #ffffff;
  --basic-light: #eeeeee;
  --basic-black: #000000;
  --basic-dark: #283136;
  --basic-active: rgba(255, 255, 255, 0.3);

  /* Header */
  --active-logo-color: #a6a6a6;
  --cart-icon-color: #a6a6a6;
  --hover-cart-text-color: #fb565a;

  /* Services */

  --active-btn-color: #d7373b;
  --inactive-btn-color: #fb565a;
  --hover-btn-color: #e74246;

  --active-btn-apps-color: #00aa62;
  --inactive-btn-apps-color: #00ca74;
  --hover-btn-apps-color: #00bc6c;

  --active-btn-presentation-color: #e5a722;
  --inactive-btn-presentation-color: #efc84a;
  --hover-btn-presentation-color: #eab534;

  /* Footer */

  --active-icon-color: #d7373b;
  --inactive-icon-color: #e1e1e1;
  --hover-icon-color: #e74246;
  --active-icon-opacity-color: rgba(255, 255, 255, 0.3);

  /* Popup */

  --inactive-input-border-color: #d7dcde;
  --hover-input-border-color: #b4b9bb;
  --focus-input-border-color: #000000;
  --error-input-border-color: #e74246;
  --input-opacity-color: rgba(68, 68, 68, 0.5);

  /* Product filter */

  --inactive-btn-show-color: #eeeeee;
  --active-btn-show-color: #d5d5d5;
  --hover-btn-show-color: #dfdfdf;
  --checkbox-color: #4d4d4d;
  --price-sorting-icon-color: #a6a6a6;
  --price-sorting-icon-active-color: #231f20;
  --shadow-color: rgba(0, 1, 1, 0.1);
  --btn-opacity-color: rgba(0, 0, 0, 0.3);

  /* Product cards */

  --inactive-headercard-color: #4d4d4d;
  --hover-headercard-color: #4d4d4d;

  --special-gray: #444444;
  --special-lightgray: #666666;

  --inactive-pagination-color: #eeeeee;
  --hover-pagination-color: #dfdfdf;
  --active-pagination-color: #d5d5d5;
  --active-page-color: rgba(0, 0, 0, 0.0001);
  --border-color: rgba(0, 0, 0, 0.1);
}

/* Global */

.page_body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", "sans-serif";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: var(--basic-dark);
  background-color: var(--basic-white);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* Main header */

.main_header {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: var(--basic-light);
}

.main_header_logo:active svg {
  fill: var(--active-logo-color);
}

/* Main navigation */

.site_nav {
  list-style: none;
}

.site_nav_item a,
.cart a {
  color: var(--basic-black);
  font-weight: 500;
  text-decoration: none;
}

.site_nav_item a:hover,
.cart a:hover {
  color: var(--hover-cart-text-color);
}

.site_nav_item a:active,
.cart a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.page_title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
  text-align: center;
}

/* Features */

.features {
  background-color: var(--basic-light);
}

.features_content {
  list-style: none;
}

.features_slogan {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
}

.features_text {
  color: var(--basic-dark);
}

.features_button:active {
  box-shadow: inset 0px 3px 0px 0px var(--shadow-color);
}

/* Buttons */

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  min-height: 50px;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--inactive-btn-color);
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 3px;
  cursor: pointer;
  border: none;
}

.button:hover {
  background-color: var(--hover-btn-color);
}

.button:active {
  background-color: var(--active-btn-color);
  color: var(--basic-active);
  box-shadow: inset 0px 3px 0px 0px var(--shadow-color);
}

.button:focus {
  outline: none;
}

/*Filters*/

.filter_title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
}

.product_filter ul {
  list-style: none;
  line-height: 19px;
}

.filter_input + label {
  cursor: pointer;
}

.filter_input + label:disabled {
  opacity: 0.3;
}

.filter_button {
  width: 260px;
  height: 50px;
  background-color: var(--inactive-btn-show-color);
  color: var(--basic-black);
}

.filter_button:hover {
  background-color: var(--hover-btn-show-color);
}

.filter_button:active {
  background-color: var(--active-btn-show-color);
  color: var(--btn-opacity-color);
}

.card_filter_title {
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  font-weight: 700;
  text-transform: uppercase;
}

.card_filter_list {
  list-style: none;
}

.card_filter_item {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.card_filter_link {
  text-decoration: none;
  color: var(--basic-black);
  opacity: 0.3;
}

.card_filter_link:hover {
  opacity: 0.6;
}

.card_filter_link--current,
.card_filter_link:active {
  opacity: 1;
}

.card_filter_icon_list {
  list-style: none;
}

.card_filter_icon_item button {
  border: none;
  background-color: var(--basic-white);
  cursor: pointer;
  outline: none;
}

.card_filter_sort:hover svg {
  fill: var(--price-sorting-icon-color);
  opacity: 1;
}

.card_filter_sort--current svg,
.card_filter_sort:active svg {
  fill: var(--price-sorting-icon-active-color);
  opacity: 1;
}

/* Catalog */

.card_item {
  width: 360px;
  height: 580px;
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  border-radius: 0 0 4px 4px;
  position: relative;
  cursor: pointer;
  margin-top: 40px;
}

.card_item img {
  position: absolute;
  width: 358px;
  box-sizing: border-box;
  bottom: 1px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 4px 4px;
}

.card_item:before {
  content: "⬤ ⬤ ⬤";
  font-size: 14px;
  color: var(--basic-white);
  opacity: 0.12;
  padding-left: 16px;
  padding-top: 6px;
  height: 40px;
  top: -40px;
  width: 100%;
  background-color: var(--inactive-headercard-color);
  box-sizing: border-box;
  position: absolute;
  border-radius: 4px 4px 0 0;
}

.card_item:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-color: var(--basic-white);
}
.card_item:hover:before {
  background-color: var(--inactive-headercard-color);
  opacity: 1;
}

.card_popup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 360px;
  height: 231px;
  background-color: var(--basic-light);
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
  bottom: 0;
  left: -1px;
}

.card_list {
  list-style: none;
}

.card_item_title {
  text-decoration: none;
  color: var(--basic-black);
}

.card_item_title h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.card_item_title:hover {
  color: var(--hover-cart-text-color);
}

.card_item_title:active {
  color: var(--btn-opacity-color);
}

.card_item p {
  line-height: 18px;
  color: var(--special-lightgray);
}

/* Pagination */

.pagination_list {
  list-style: none;
}

.pagination_item {
  font-weight: 500;
  line-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--inactive-pagination-color);
  border: 3px solid var(--inactive-pagination-color);
  border-radius: 3px;
}

.pagination_item:hover {
  background-color: var(--hover-pagination-color);
  border-color: var(--hover-pagination-color);
}

.pagination_item:active {
  width: 50px;
  height: 50px;
  border: none;
  background-color: var(--active-pagination-color);
  box-shadow: inset 0px 3px 0px 0px rgba(0, 1, 1, 0.1);
}

.pagination_item a {
  color: var(--basic-black);
  text-decoration: none;
  cursor: pointer;
}

.pagination_item a:active {
  color: var(--btn-opacity-color);
}

.pagination_item:active a {
  opacity: 0.3;
}

.pagination_item_next {
  width: 254px;
  height: 44px;
}

.pagination_item_next a {
  text-transform: uppercase;
}

.pagination_item_next:active {
  width: 260px;
  height: 50px;
}

.pagination_item--current {
  background-color: var(--active-page-color);
}

/* Servises */

.index_columns {
  text-align: center;
}

.services_list {
  list-style: none;
}

.services_item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
}

.services_item p {
  color: var(--basic-dark);
}

.apps_button {
  background-color: var(--inactive-btn-apps-color);
}

.apps_button:hover {
  background-color: var(--hover-btn-apps-color);
}

.apps_button:active {
  background-color: var(--active-btn-apps-color);
}

.presentations_button {
  background-color: var(--inactive-btn-presentation-color);
}

.presentations_button:hover {
  background-color: var(--hover-btn-presentation-color);
}

.presentations_button:active {
  background-color: var(--active-btn-presentation-color);
}

/* About */

.about_slogan {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--basic-black);
}

.about_orders {
  font-weight: 700;
  text-transform: uppercase;
}

.development {
  list-style: none;
}

.about_table {
  font-weight: 700;
}

.about_table_caption {
  color: var(--basic-black);
}

.about_table_percents {
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-black);
}

.about_table td {
  line-height: 18px;
  font-weight: 400;
}

.about_table_percents sup {
  font-size: 26px;
  line-height: 40px;
}

/* Partners */

.partners_list {
  text-align: center;
  list-style: none;
}

.partners_item a {
  color: var(--basic-black);
  opacity: 0.2;
}

.partners_item a:hover {
  color: var(--basic-black);
  opacity: 1;
}

.partners_item a:active {
  color: var(--basic-black);
  opacity: 0.1;
}

/* Modal */

.modal {
  background-color: var(--basic-white);
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: var(--basic-black);
}

.modal_header {
  font-size: 45px;
  line-height: 53px;
}

.modal_field {
  border: 2px solid var(--inactive-input-border-color);
  border-radius: 3px;
  font-family: inherit;
  outline: none;
}

.modal_field_username {
  width: 360px;
  height: 50px;
}

.modal_field_emale {
  width: 360px;
  height: 50px;
}

.modal_field_message {
  width: 760px;
  height: 118px;
}

.modal_field:hover {
  border-color: var(--hover-input-border-color);
}

.modal_field:focus {
  border-color: var(--basic-black);
}

.modal_form input:focus::placeholder {
  color: var(--special-gray);
}

.modal_field:invalid {
  color: var(--error-input-border-color);
  border-color: var(--error-input-border-color);
}

.modal_message_button {
  width: 259px;
}

.modal_close_button {
  cursor: pointer;
}

/* Contacts */

.contacts_header {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
}

.contacts_description {
  line-height: 18px;
  color: var(--special-lightgray);
  font-style: normal;
}

.contacts_phone {
  line-height: 18px;
  color: var(--special-lightgray);
  text-decoration: none;
}

/* Social */

.footer_social_list {
  list-style: none;
}

.footer_social_link {
  width: 81px;
  height: 81px;
  background-color: var(--inactive-icon-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_social_link:hover {
  background-color: var(--hover-icon-color);
}

.footer_social_link:active {
  background-color: var(--active-icon-color);
  box-shadow: inset 0px 3px var(--shadow-color);
}

.footer_social_link:active svg {
  fill: var(--basic-white);
  opacity: 0.3;
}

/* Footer content */

.footer_slogan {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: var(--basic-black);
}

.footer_text {
  line-height: 22px;
  color: var(--special-gray);
}
