/* Fonts */

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root {
  --basic-white: #ffffff;
  --basic-light: #eeeeee;
  --basic-black: #000000;
  --basic-dark: #283136;
  --basic-active: rgba(255, 255, 255, 0.3);

  /* Header */
  --active-logo-color: #a6a6a6;
  --cart-icon-color: #a6a6a6;
  --hover-cart-text-color: #fb565a;

  /* Services */

  --active-btn-color: #d7373b;
  --inactive-btn-color: #fb565a;
  --hover-btn-color: #e74246;

  --active-btn-apps-color: #00aa62;
  --inactive-btn-apps-color: #00ca74;
  --hover-btn-apps-color: #00bc6c;

  --active-btn-presentation-color: #e5a722;
  --inactive-btn-presentation-color: #efc84a;
  --hover-btn-presentation-color: #eab534;

  /* Footer */

  --active-icon-color: #d7373b;
  --inactive-icon-color: #e1e1e1;
  --hover-icon-color: #e74246;
  --active-icon-opacity-color: rgba(255, 255, 255, 0.3);

  /* Popup */

  --inactive-input-border-color: #d7dcde;
  --hover-input-border-color: #b4b9bb;
  --focus-input-border-color: #000000;
  --error-input-border-color: #e74246;
  --input-opacity-color: rgba(68, 68, 68, 0.5);

  /* Product filter */

  --inactive-btn-show-color: #eeeeee;
  --active-btn-show-color: #d5d5d5;
  --hover-btn-show-color: #dfdfdf;
  --checkbox-color: #4d4d4d;
  --price-sorting-icon-color: #a6a6a6;
  --price-sorting-icon-active-color: #231f20;
  --shadow-color: rgba(0, 1, 1, 0.1);
  --btn-opacity-color: rgba(0, 0, 0, 0.3);

  /* Range filter */

  --scale-filter-color: #d7dcdf;
  --range-filter-bar-color: #00ca74;
  --toggle-filter-color: #ababab;

  /* Product cards */

  --inactive-headercard-color: #4d4d4d;
  --hover-headercard-color: #4d4d4d;

  --special-gray: #444444;
  --special-lightgray: #666666;

  --inactive-pagination-color: #eeeeee;
  --hover-pagination-color: #dfdfdf;
  --active-pagination-color: #d5d5d5;
  --active-page-color: rgba(0, 0, 0, 0.0001);
  --border-color: rgba(0, 0, 0, 0.1);

  /* Popup */

  --hover-button-close-color: #fb565a;
}

/* Global */

.page_body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", "sans-serif";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: var(--basic-dark);
  background-color: var(--basic-white);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.line {
  margin: 0;
}

.line:last-of-type {
  margin: 0;
  margin-bottom: 80px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* Grid */

.page {
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}

/* Buttons */

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--inactive-btn-color);
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 3px;
  cursor: pointer;
  border: none;
  padding: 0;
  overflow: hidden;
}

.button:hover {
  background-color: var(--hover-btn-color);
}

.button:active {
  background-color: var(--active-btn-color);
  color: var(--basic-active);
  box-shadow: inset 0px 3px 0px 0px var(--shadow-color);
}

.button:focus {
  outline: none;
}

/* Main header
===================*/

.main_header {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: var(--basic-light);
}

.header_inner {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
}

/* Logo */

.main_header_logo {
  margin-top: 49px;
  margin-right: 202px;
  width: 160px;
  height: 66px;
}

.main_header_logo:active path {
  fill: var(--active-logo-color);
}

.main_nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 75px;
}

.main_nav_wrapper {
  width: 437px;
}

.site_nav {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.site_nav_item {
  margin-right: 45px;
}

.site_nav_item:last-child {
  margin: 0;
}

.cart {
  display: flex;
  width: 150px;
  justify-content: flex-end;
  word-break: break-all;
}

.site_nav_item a,
.cart a {
  color: var(--basic-black);
  font-weight: 500;
  text-decoration: none;
}

.site_nav_item a:hover,
.cart a:hover {
  color: var(--hover-cart-text-color);
}

.site_nav_item a:active,
.cart a:active {
  color: var(--btn-opacity-color);
}

.cart_link {
  position: relative;
}

.cart_link::before {
  content: " ";
  width: 15px;
  height: 15px;
  position: absolute;
  background-image: url(../img/Icons/icon-cart.svg);
  background-repeat: no-repeat;
  top: 6px;
  right: 100px;
}

.site_nav_link--current {
  position: relative;
}

.site_nav_link--current::before {
  content: " ";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--hover-cart-text-color);
  bottom: -13px;
}

/* Inedex html
================== */

/* Features */

.feature_bg {
  background-color: var(--basic-light);
  width: 100%;
  margin: 0 auto;
}

.features {
  position: relative;
  max-width: 1160px;
  height: 431px;
}

.features_list {
  position: relative;
  overflow: hidden;
  width: inherit;
  height: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
}

.features_slogan {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
  margin: 0 0 25px;
  padding-top: 78px;
  max-width: 540px;
}

.features_text {
  color: var(--basic-dark);
  margin-top: 0;
  margin-bottom: 38px;
  max-width: 362px;
}

.features_button:active {
  box-shadow: inset 0px 3px 0px 0px var(--shadow-color);
}

.features_item_expensive {
  background: url("../img/slides/slider-expensive.png") no-repeat;
  background-position: right;
}

.features_item_accuracy {
  background: url("../img/slides/slider-accuracy.png") no-repeat;
  background-position: right;
}

.features_item_nightshift {
  background: url("../img/slides/slider-nightshift.png") no-repeat;
  background-position: right;
}

#slide1:checked ~ .features_list > .features_item_expensive,
#slide2:checked ~ .features_list > .features_item_accuracy,
#slide3:checked ~ .features_list > .features_item_nightshift {
  opacity: 1;
  z-index: 1;
  transform: scale(1);
}

.features_item {
  width: 1160px;
  min-height: 431px;
  opacity: 0;
  z-index: 0;
  position: absolute;
  transform: scale(1.5);
  transition: transform ease-in-out 0.5s, opacity ease-in-out 0.5s;
}

.features .controls {
  left: 524px;
  position: absolute;
  bottom: 96px;
  z-index: 1;
}

.features label {
  cursor: pointer;
  display: inline-block;
  margin-left: 32px;
  top: 6px;
  position: relative;
  border-radius: 50%;
  left: -18px;
}

.features label::before {
  content: " ";
  background-color: #fff;
  width: 18px;
  height: 18px;
  bottom: 0px;
  left: 0px;
  border-radius: 50%;
  position: absolute;
}

.features label::after {
  content: " ";
  border: 2px solid white;
  width: 8px;
  height: 8px;
  bottom: 5px;
  left: 5px;
  border-radius: 50%;
  position: absolute;
  box-sizing: border-box;
}

#slide1:checked ~ .controls label:nth-of-type(1)::after,
#slide2:checked ~ .controls label:nth-of-type(2)::after,
#slide3:checked ~ .controls label:nth-of-type(3)::after {
  border-color: #c1c1c1;
}

/* Servises */

.services_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 70px 57px 0 0;
  padding: 0;
}

.services_item {
  flex-basis: 300px;
  margin-bottom: 80px;
}

.services_item:nth-child(3n) {
  margin: 0;
}

.services_item img {
  margin-bottom: 25px;
}

.services_item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  margin: 0 0 16px;
}

.services_item p {
  color: var(--basic-dark);
  margin: 0 40px 32px 0;
}

.apps_button {
  background-color: var(--inactive-btn-apps-color);
}

.apps_button:hover {
  background-color: var(--hover-btn-apps-color);
}

.apps_button:active {
  background-color: var(--active-btn-apps-color);
}

.presentations_button {
  background-color: var(--inactive-btn-presentation-color);
}

.presentations_button:hover {
  background-color: var(--hover-btn-presentation-color);
}

.presentations_button:active {
  background-color: var(--active-btn-presentation-color);
}

/* About */

.index_columns {
  margin-top: 39px;
  margin-bottom: 73px;
}

.about {
  display: grid;
  grid-template-columns: 1fr min-content;
  gap: 146px;
}

.about_left_column {
  margin-top: 34px;
}

.about_slogan {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--basic-black);
  margin: 0 0 32px 0;
}

.about_orders {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 23px;
}

.about_text {
  margin: 0 0 40px;
}

.development {
  list-style: none;
  line-height: 48px;
  margin: 0;
  padding: 0;
}

.development_item::before {
  content: " ";
  display: inline-block;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
  margin-bottom: 4px;
  margin-right: 12px;
}

.about_img {
  margin-bottom: 37px;
}

.about_table {
  font-weight: 700;
  border-spacing: 0;
}

.about_table_caption {
  color: var(--basic-black);
  margin-bottom: 31px;
}

.about_table_percents {
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-black);
}

.about_table th {
  text-align: left;
  padding: 0 21px 11px 0;
}

.about_table th:last-of-type {
  padding: 0 0 11px 0;
}

.about_table td {
  line-height: 18px;
  font-weight: 400;
}

.about_table_percents sup {
  font-size: 26px;
  line-height: 40px;
}

/* Partners */

.partners_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 46px 0 44px;
  padding: 0;
}

.partners_item {
  position: relative;
}

.partners_item:not(:last-child)::after {
  content: " ";
  background-color: var(--basic-light);
  width: 2px;
  height: 52px;
  position: absolute;
  right: -48px;
  top: 50%;
  transform: translateY(-50%);
}

.partners_item a {
  color: var(--basic-black);
  opacity: 0.2;
}

.partners_item a:hover {
  color: var(--basic-black);
  opacity: 1;
}

.partners_item a:active {
  color: var(--basic-black);
  opacity: 0.1;
}

/* Map */

.conteiner_map {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.map {
  position: relative;
}

.map_map img {
  width: 1440px;
  height: 416px;
}

.map_marker {
  position: absolute;
  top: 86px;
  left: 822px;
}

/* Contacts */

.contacts {
  width: 319px;
  height: 308px;
  background-color: var(--basic-white);
  position: absolute;
  left: 140px;
  top: 54px;
  text-align: center;
  overflow: auto;
}

.contacts_header {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  margin: 49px 0 23px 0;
}

.contacts_description {
  line-height: 18px;
  color: var(--special-lightgray);
  font-style: normal;
  margin-bottom: 23px;
}

.contacts_phone {
  display: inline-block;
  vertical-align: top;
  line-height: 18px;
  color: var(--special-lightgray);
  text-decoration: none;
  margin: 0 0 37px 0;
}

.contacts_button {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

/* Modal */

.modal {
  width: 960px;
  height: 590px;
  background-color: var(--basic-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: var(--basic-black);
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  pointer-events: none;
  overflow-y: auto;
  overflow-x: hidden;
}

.modal:target {
  opacity: 1;
  pointer-events: all;
  z-index: 2;
}

.modal_inner {
  display: grid;
  grid-template-rows: min-content 1fr;
  column-gap: 40px;
  max-width: 960px;
}

.modal_header {
  font-size: 45px;
  line-height: 53px;
  margin: 63px 0 37px 100px;
}

.modal_form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 34px;
  max-width: 760px;
  margin-left: 100px;
}

.modal_form p {
  margin: 0;
}

.modal_form_label {
  display: block;
  margin-bottom: 9px;
}

p.email {
  padding: 0;
  justify-self: end;
}

.message_full_width {
  grid-column: 1 / 3;
}

.modal_field {
  border: 2px solid var(--inactive-input-border-color);
  border-radius: 3px;
  font-family: inherit;
  outline: none;
  padding: 0;
  box-sizing: border-box;
  overflow: auto;
}

.modal_field_username {
  width: 360px;
  height: 50px;
}

.modal_field_emale {
  width: 360px;
  height: 50px;
}

.modal_field_message {
  width: 100%;
  min-height: 118px;
  margin-bottom: 13px;
}

textarea {
  resize: none;
}

textarea::placeholder {
  position: relative;
  top: 16px;
}

.modal_field:hover {
  border-color: var(--hover-input-border-color);
}

.modal_field:focus {
  border-color: var(--basic-black);
}

.modal_form input:focus::placeholder {
  color: var(--special-gray);
}

.modal_field:invalid {
  color: var(--error-input-border-color);
  border-color: var(--error-input-border-color);
}

.modal_field::placeholder {
  text-indent: 16px;
}

.modal_message_button {
  width: 259px;
}

.modal_close_button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  outline: none;
  padding: 0;
  position: absolute;
  right: 90px;
  top: 78px;
}

.modal_close_button:hover svg {
  fill: var(--hover-button-close-color);
  opacity: 1;
}

.modal_close_button:active svg {
  fill: var(--hover-button-close-color);
  opacity: 0.1;
}

/* Catalog
=============== */

.page_title_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 1440px;
  min-height: 241px;
  background-color: var(--basic-light);
  margin-bottom: 55px;
}

.page_title {
  max-width: 1160px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
  text-align: center;
  margin: 0;
  padding-top: 77px;
}

/*Filters*/

.range_title,
.grids_filter_title,
.features_filter_title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
}

.range_title {
  margin-bottom: 48px;
}

.filter_range {
  width: 260px;
  margin-bottom: 54px;
}

.range_controls {
  position: relative;
  height: 41px;
  background-color: var(--basic-light);
  border-radius: 3px;
  margin-bottom: 14px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
}

.range_scale {
  height: 2px;
  background-color: var(--scale-filter-color);
}

.range_bar {
  width: 70%;
  height: 2px;
  background-color: var(--range-filter-bar-color);
}

.range_controls .toggle {
  position: absolute;
  top: 30px;
  left: 0;
  width: 4px;
  height: 4px;
  background-color: var(--toggle-filter-color);
  border: 8px solid var(--basic-white);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  cursor: pointer;
}

.range_controls .toggle_min {
  left: 18px;
}

.range_controls .toggle_max {
  left: 160px;
}

.price_controls {
  display: flex;
  justify-content: space-between;
}

.price_controls label {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  word-break: break-all;
  line-height: 22px;
  text-transform: uppercase;
}

.price_controls input {
  font-family: "Roboto", "Arial", "sans-serif";
  line-height: 22px;
  font-size: 16px;
  width: 60px;
  max-height: 22px;
  padding: 8px 10px;
  margin-left: 11px;
  border: none;
  background-color: var(--basic-light);
  text-align: center;
  border-radius: 3px;
}

.price_controls input::placeholder {
  color: var(--basic-dark);
}

.product_filter fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

fieldset.grids_filter {
  margin-bottom: 46px;
}

fieldset.features_filter {
  margin-bottom: 50px;
}

.grids_filter_title,
.features_filter_title {
  margin-bottom: 16px;
}

.product_filter ul {
  list-style: none;
  line-height: 19px;
  margin: 0;
  padding: 0;
}

.filter_option {
  margin-bottom: 20px;
}

.filter_option:last-of-type {
  margin-bottom: 0;
}

.filter_input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.check_radio {
  position: absolute;
  margin-left: -36px;
  background-image: url("../img/checkbox/radio-off.svg");
  width: 25px;
  height: 25px;
  opacity: 0.4;
  border-color: var(--basic-white);
}

.filter_input_radio:checked + .check_radio {
  background-image: url("../img/checkbox/radio-on.svg");
}

.filter_input_radio:hover + .check_radio {
  opacity: 1;
}

.filter_input_radio:disabled + .check_radio {
  opacity: 0.1;
}

.check_box {
  position: absolute;
  margin-left: -36px;
  background-image: url("../img/checkbox/checkbox-off.svg");
  width: 23px;
  height: 23px;
  opacity: 0.4;
  border-color: var(--basic-white);
}

.filter_input_checkbox:checked + .check_box {
  background-image: url("../img/checkbox/checkbox-on.svg");
}

.filter_input_checkbox:hover + .check_box {
  opacity: 1;
}

.filter_input_checkbox:disabled + .check_box {
  opacity: 0.1;
}

.filter_input:disabled ~ .check_desc {
  color: rgba(40, 49, 54, 0.3);
}

.filter_option label {
  margin-left: 36px;
  display: block;
  cursor: pointer;
}

.filter_button {
  width: 100%;
  height: 50px;
  background-color: var(--inactive-btn-show-color);
  color: var(--basic-black);
}

.filter_button:hover {
  background-color: var(--hover-btn-show-color);
}

.filter_button:active {
  background-color: var(--active-btn-show-color);
  color: var(--btn-opacity-color);
}

/* Catalog */

.catalog {
  margin-left: 140px;
}

.catalog_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
}

.page_catalog_inner {
  display: grid;
  grid-template-columns: 260px 1fr;
}

/* Cards filter */

.card_filter_title {
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 220px 0 0;
}

.card_filter_list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.card_filter_item {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-right: 26px;
}

.card_filter_item:nth-child(3) {
  margin: 0;
}

.card_filter_link {
  text-decoration: none;
  color: var(--basic-black);
  opacity: 0.3;
}

.card_filter_link:hover {
  opacity: 0.6;
}

.card_filter_link--current,
.card_filter_link:active {
  opacity: 1;
}

.card_filter_icon_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.card_filter_icon_item {
  margin-left: 18px;
}

.card_filter_icon_item:first-child {
  margin: 0;
}

.card_filter_icon_item button {
  border: none;
  background-color: var(--basic-white);
  cursor: pointer;
  outline: none;
  padding: 0;
}

.card_filter_sort:hover svg {
  fill: var(--price-sorting-icon-color);
  opacity: 1;
}

.card_filter_sort--current svg,
.card_filter_sort:active svg {
  fill: var(--price-sorting-icon-active-color);
  opacity: 1;
}

/* Cards */

.card_item {
  width: 360px;
  min-height: 620px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  margin: 0 0 30px;
  box-sizing: border-box;
}

.card_item:nth-child(2n) {
  margin-right: 0;
}

.card_item img {
  position: absolute;
  width: 358px;
  height: 578px;
  box-sizing: border-box;
  bottom: 1px;
  left: 0px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 4px 4px;
}

.card_item:before {
  content: "⬤ ⬤ ⬤";
  font-size: 14px;
  color: var(--basic-white);
  opacity: 0.12;
  padding-left: 16px;
  padding-top: 6px;
  height: 40px;
  width: 100%;
  background-color: var(--inactive-headercard-color);
  box-sizing: border-box;
  position: absolute;
  border-radius: 4px 4px 0 0;
}

.card_item:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.card_item:hover:before {
  background-color: var(--inactive-headercard-color);
  opacity: 1;
}

.card_popup {
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 360px;
  max-height: 231px;
  overflow: auto;
  background-color: var(--basic-light);
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
  bottom: 0;
  left: -1px;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  pointer-events: none;
}

.card_item:hover .card_popup {
  opacity: 1;
  pointer-events: all;
}

.card_list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.card_item,
.card_item:active {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.card_item_title {
  text-decoration: none;
  color: var(--basic-black);
}

.card_item_title h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 26px;
  margin-bottom: 12px;
}

.card_item_title:hover {
  color: var(--hover-cart-text-color);
}

.card_item_title:active {
  color: var(--btn-opacity-color);
}

.card_item p {
  line-height: 18px;
  color: var(--special-lightgray);
  margin: 0 52px 32px 52px;
  text-align: center;
}

.popup_button {
  margin-bottom: 44px;
}

/* Pagination */

.pagination_list {
  list-style: none;
  margin: 24px 0 60px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.pagination_item {
  font-weight: 500;
  line-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 44px;
  height: 44px;
  background-color: var(--inactive-pagination-color);
  border: 3px solid var(--inactive-pagination-color);
  border-radius: 3px;
  margin-right: 11px;
}

.pagination_item:last-child {
  margin: 0;
}

.pagination_item:hover {
  background-color: var(--hover-pagination-color);
  border-color: var(--hover-pagination-color);
}

.pagination_item:active {
  width: 50px;
  height: 50px;
  border: none;
  background-color: var(--active-pagination-color);
  box-shadow: inset 0px 3px 0px 0px rgba(0, 1, 1, 0.1);
}

.pagination_item a {
  color: var(--basic-black);
  text-decoration: none;
  cursor: pointer;
}

.pagination_item a:active {
  color: var(--btn-opacity-color);
}

.pagination_item:active a {
  opacity: 0.3;
}

.pagination_item_next {
  width: 254px;
  height: 44px;
}

.pagination_item_next a {
  text-transform: uppercase;
}

.pagination_item_next:active {
  width: 260px;
  height: 50px;
}

.pagination_item--current {
  background-color: var(--active-page-color);
}

/* Footer */

.footer_inner {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  column-gap: 139px;
}

/* Main footer */

/* Social */

.footer_social {
  margin: 68px 0;
}

.footer_social_list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 9px;
  margin: 0;
  padding: 0;
}

.footer_social_link {
  width: 81px;
  height: 81px;
  background-color: var(--inactive-icon-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_social_link:hover {
  background-color: var(--hover-icon-color);
}

.footer_social_link:active {
  background-color: var(--active-icon-color);
  box-shadow: inset 0px 3px var(--shadow-color);
}

.footer_social_link:active svg {
  fill: var(--basic-white);
  opacity: 0.3;
}

/* Footer content */

.footer_slogan {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: var(--basic-black);
  margin: 0 0 10px;
}

.footer_text {
  line-height: 22px;
  color: var(--special-gray);
  margin: 0;
}
